<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML-Entra21</title>
    <link rel="stylesheet" href="/html_css/static/styles.css">
</head>
<body>
    <header class="main-header">
        <img src="https://cdn.sonicadigital.com.br/entra21/storage/settings/1/original-691cbe5cd50d1.png" alt="Entra21">
        <nav>
            <ul>
                <li><a href="./html.html">HTML</a></li>
                <li><a href="./css.html">CSS</a></li>
                <li><a href="./javascript.html">JavaScript</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-content">
        <img src="/html_css/static/img/HTML5_logo_and_wordmark.svg.png" alt="html">
        <h2>HTML</h2>
        <p>HTML é a sigla para HyperText Markup Language (linguagem de marcação de Hipertexto).</p>
        <p>De forma simples: HTML é a base de qualquer página da web. ele serve para estruturar o conteúdo de um site</p>
        <a href="index.html">voltar</a>
    </main>
    <footer class="main-footer">Desenvolvido por negrilson</footer>
</body>
</html>